/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
            url('../fonts/montserrat-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-500.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v15-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
            url('../fonts/montserrat-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-600.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
            url('../fonts/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
            url('../fonts/montserrat-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-800.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v15-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Black'), local('Montserrat-Black'),
            url('../fonts/montserrat-v15-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/montserrat-v15-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/montserrat-v15-latin-900.woff') format('woff'), /* Modern Browsers */
            url('../fonts/montserrat-v15-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/montserrat-v15-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html{
    max-width: 100%;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color:black;
}
*, *::before, *::after{
      box-sizing: inherit;
}
body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    color:black;
}
/* Head style start */
.big_wrapper{
    width: 100%;
    position: relative;
    background: url(../img/bighead.png) center ;
    background-size:cover;
}
.header{
    position: relative;
    z-index: 1;
    top: 0;
    background : url(../img/headsmallback.png)no-repeat right bottom , url(../img/headsmallback.png)no-repeat left top;
    background-size: 164px;
    background-color: #252525;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}
.container{
    padding: 0 30px;
}
.header_top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    color: white;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: -270px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color:rgb(29, 29, 29);
    z-index: 1;
    font-size: 1rem ;
    line-height: 1.5rem;
    padding:10px 15px;
    border:1px double black;
    
}
.dropdown-content a {
    text-decoration: none;
    display: block;
    color:white;
    padding: 5px 0;
    
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(155, 150, 150);}
/* Show the dropdown menu on hover */
.nav_right:hover .dropdown-content {display: block;}
.header_ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header_li{
    padding:0 5px;
}
.header_bar{
    display: none;
}
.header_bar img{
    width:35px;
}
.header_link{
    margin-right: 40px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
} 
.header_tel{
    margin-right: 15px;
}
.nav_right{
    display: flex;
    flex-direction: row;
}
.header_li-tel{
    text-decoration: none;
    color: white;
}
/* header style end */


/* top_content style start */
.top_content{
    width: 100%;
    position: relative;
    background: url(../img/carbackrg.png) no-repeat;
    background-position: left -200px top 53px;
    min-height: 450px;
}
.top_text-wrap{
    max-width: 600px;
    margin: 100px 0 0 auto;
    background-color: #252525;
    overflow: hidden;
}
.top_text{
    padding:33px 46px 45px 46px;
}
.top_text-h{
    color: white;
    max-width: 430px;
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 15px;
    
}
.top_text-p{
    max-width: 430px;
    font-size: 1.1rem;
    line-height: 1.6;
    color:#FFFFFF;
}

/* top_content style end */
/*main style start*/
.main{
    margin-top:120px;
    margin-bottom: 150px;
}
.container_main{
    padding: 0 120px;
}
.main_top{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: end;

}
.main_top-left h2{
    background: url(../img/Rectangle.png) no-repeat right bottom 40px , url(../img/Rectangle.png) no-repeat left top;
    font-size: 2.2rem;
    line-height: 1.2;
    min-width: 240px;
    text-align: center;
    
    
}
.main_top-right p{
    font-size: 1rem;
    line-height: 1.7;
    max-width: 850px;
}
.main_gallery{
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
.gallery_wrap{
    padding: 5px 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    text-align: center;
}
.gallery_wrap img{
    max-width: 90px;
    min-height: 91px;
    margin-bottom: 25px;
}
.gallery_wrap h3{
    font-size: 1.5rem;
    line-height: 1.2;
    color:#95161B;
    margin-bottom: 10px;
}
.gallery_wrap p{
    margin: 0 auto;
    font-size: 0.88rem;
    line-height: 1.5;
    color: #333333;
    margin-bottom: 20px;
}
/*main style end*/
/*sevices style start*/
.services{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color:  #F7F7F7;;
}
.services_top h2{
    font-size: 2.2rem;
    line-height: 1.2;
    max-width: 200px;
    margin: 0 auto 12.5px auto;
    text-align: center;
    background: url(../img/Rectangle.png) no-repeat right bottom 40px , url(../img/Rectangle.png) no-repeat left top;
}
.services_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services_gallery{
    
    width: 30%;
    margin:12.5px 1.6%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(130, 0, 0, 0.3);
    border-radius: 5px;
}
.services_gallery img{
    width: 100%;
    max-height: 203px;
}
.services_text{
    padding: 20px;
}
.services_text p {
    font-size: 1.1rem;
    line-height: 1.2;
}
/*sevices style end*/
/*form style start*/
.form{
    width: 100%;
    padding-top: 110px;
    padding-bottom: 250px;
    position: relative;
    background: url(../img/formbackrg.png);
    background-size: cover;
    
}
.back1 img{
    position: absolute;
    right: 0;
    top:0;
}
.back2 img{
    position: absolute;
    left: 0;
    bottom:0;
}
.form_content{
    width: 70%;
    background:rgba(25, 25, 25, 0.7) ;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.form_text{
    max-width: 815px;
    padding: 40px 120px;
}
.form_text p strong{
    font-size: 45px;
}
.form_text p span{
    font-size: 45px;
    font-weight: 600;
}
.form_text h1{
    font-size: 2.77rem;
    line-height: 0.98;
    color: #F5F5F5;
    margin-bottom: 30px;
    font-weight: 600;
}
.form_text p{
    font-size: 1.66rem;
    line-height: 50px;
    color: #F5F5F5;
}
.form_form{
    position: absolute;
    right: 215px;
    top: 140px;
    background-color: white;
    padding:40px;
    width: 483px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
}
.form_p1{
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 50px;
    font-weight: 600;
}
.form_p2{
    margin-bottom: 20px;
    border-color:#9c8a8a52;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding-left: 72px;
    background: url(../img/svg/yellow_circle.svg) no-repeat left 17px top 0px ;
}
.form_p3{
    margin-bottom: 28px;
    border-color:#9c8a8a52;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding-left: 72px;
    background: url(../img/svg/white_circle.svg) no-repeat left 17px top 10px, url(../img/svg/Rectangle.svg) no-repeat left ;
}
.form_p4{
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    font-size: 1.1rem;
    line-height: 2.25;
    background-color: #F5AF19;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color:black;
}
.form_p5{
    font-size: 1.1rem;
    line-height: 2.25;
    color: #666666;
}
.form_p5 span{
    font-size: 30px;
    font-weight: 600;
    color:black;
}
.form_p6{
    font-size: 1rem;
    line-height: 2.25;
    color: #666666;
}
/*form style end*/
/*comments style start*/
.comments{
    width: 100%;
}
.comments_container{
    margin-left:90px ;
    display: flex;
    flex-direction: row;
}
.comments_left{
    padding-top: 100px;
    width: 33%;
    box-sizing: border-box;
    margin: 0 25px 100px 25px;
}
.comments_left h2{
    font-size: 2.2rem;
    line-height: 1.2;
    background: url(../img/Rectangle.png) no-repeat right 0px bottom 0px , url(../img/Rectangle.png) no-repeat left top;
    padding: 15px 5px;
    max-width: 220px;
    margin-bottom: 15px;
}
.vacancy{
    padding: 25px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(130, 0, 0, 0.3);
    border-radius: 5px;
    margin: 30px 0;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vacancy h3{
    font-size: 1.4rem;
    line-height: 1.2;
    color: #95161B;
    margin-bottom: 20px;
}
.vacancy p {
    font-size: 0.9rem;
    line-height: 1.5;
    color:  #666666;

}
.vacancy a {
    font-size: 0.88rem;
    line-height: 1.5;
    color:  #666666;
    text-decoration: none;
    margin-top: 10px;
}
.vacancy a strong{
    color: black;
}
.comments_right{
    width: 100%;
    background-color: #F7F7F7;
    box-sizing: border-box;
    padding: 100px 100px 0 10px;
    
}
.comments_right-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.comments_right-top h2{
    font-size: 2.2rem;
    line-height: 1.2;
    background: url(../img/Rectangle.png) no-repeat right 0px bottom 0px , url(../img/Rectangle.png) no-repeat left top;
    padding: 15px 5px;
    margin-left: 15px;
    margin-bottom: 50px;
    
}
.comments_right-top button{
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2.25;
    padding: 3px 72px;
    background-color: #F5AF19;
    border-radius: 5px; 
    color: black;
    margin-right: 15px;
}
.comments_comments-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 65px;
}
.comments_comments{
    width: 50%;
    padding: 15px 15px;
}
.comments_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.88rem;
    line-height: 1.4;
    margin-bottom: 5px;
}
.comments_top p{
    font-size: 1.3rem;
    line-height: 1.26;
}
.comments_star{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.comments_star p{
    font-size: 0.88rem;
    line-height: 1.46;
    margin-left: 10px;
}
.comments_content h3{
    font-size: 1.3rem;
    line-height: 1.2;
    margin-bottom: 10px;
}
.comments_content p{
    font-size: 0.88rem;
    line-height: 1.46;
    max-width: 381px;
}
.right_pagination{
    text-align: center;
    margin:20px 0;
}
.right_pagination img{
    margin:0 9px;
}
/*comments style end*/
/*footer style start*/
.footer{
    background-color: #252525;
    color: #F5F5F5;
    padding:5px 0;
}
.footer_wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.footer_cont{
    margin:0 90px;
}
.footer_parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.footer_left{
    width: 60%;
    padding:30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.foot_text-left{
    display: flex;
    flex-direction: column;
    
}
.foot_text-left a{
    font-size: 1.4rem;
    line-height: 1.8;
    text-decoration: none;
    color: #F5F5F5;
    margin-bottom: 10px;
}
.foot_text-left p{
    font-size: 0.9rem;
    line-height: 1.46;
    max-width: 175px;
}
.foot_numb-left{
    display: flex;
    flex-direction: column;
    
}
.foot_numb-left a{
    font-size: 1.2rem;
    line-height: 1.75;
    text-decoration: none;
    color: #F5F5F5;
}
.footer_right{
    width: 40%;
    padding:30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.foot_text-right{
    font-size: 0.9rem;
    line-height: 1.46;
}
.foot_text-right p{
    max-width: 185px;
}
.foot_numb-right{
    display: flex;
    flex-direction: column;
    
}
.foot_numb-right a{
    font-size: 1.2rem;
    line-height: 1.75;
    text-decoration: none;
    color: #F5F5F5;
}
@media (max-width:1410px){
    .form_form {
        position: static;
        margin: 20px auto;
    }
    .form{
        padding-bottom: 55px;
        padding-top: 70px;
    }
    .form_content {
        width: 100%;
    }
    .container_main{
        padding:0 60px;
    }
}
@media (max-width:1366px){
    .top_content{
        background-position: left -300px top 53px;
    }
    .footer_cont {
        margin: 0 30px;
    }
}
@media (max-width:1263px){
    .header_li{
        padding:0;
    }
    .top_content{
        background-position: left -330px top 95px;
    }
    .footer_cont {
        margin: 0 15px;
    }
    .container_main{
        padding:0 15px;
    }
}
@media (max-width:1220px){
    .comments_container{
        margin-left: 0px;
        flex-direction: column;
    }
    .comments_left{
        width: 100%;
        margin: 0 auto;
        padding-top: 75px;
    }
    .comments_left h2{
        margin: 0 auto;
    }
    .vacancy_parent{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin:0 10px;
    }
    .vacancy{
        width: 49%;
        min-height: 0px;
    }
    .comments_right {
        padding: 50px 10px 0 10px;
    }
    .comments_right-top button {
        display: none;
    }
    .comments_right-top h2{
        margin: 0 auto 20px auto;

    }
    .comments_comments{
        width: 45%;
        margin: 0 auto;
    }
    .comments_content p{
        max-width: none;
    }
    .footer_parent{
        flex-direction: column;
    }
    .footer_left{
        padding: 5px 0px;
        width: 100%;
        justify-content: space-around;
    }
    .footer_right{
        padding: 0px 0px;
        width: 100%;
        justify-content: space-between;
    }
    .foot_text-right p{
        max-width: none;
    }
    .foot_numb-right {
        width: 48%;
        flex-direction: row;
        justify-content: space-between;
    }
    

}
@media (max-width:1170px){
    .header_nav{
        display:none;
    }
    .header{
        background:none ;
        background-color: #252525;
    }
    .header_logo a img{
        width: 80%;
    }
    .header_top{
        padding:10px 0;
    }
    .nav_right{
        display: none;
    }
    .header_bar{
        display: flex;
        margin:0 0 auto auto;
    }
    .top_content{
        background: none;
        min-height: 250px;
    }
    .top_text-wrap{
        max-width: 100%;
        margin: 100px 0 0 0;
    }
    .top_text-h{
        max-width: none;
        text-align: center;

    }
    .top_text-p{
        max-width: none;
        text-align: center;
    }
    .main_top{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main_top-left h2{
        margin-bottom: 20px;
    }
    .main {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width:1025px){
    .footer_left {
        flex-direction: column;
    }
    .foot_text-left a {
        margin-bottom: 0px;
        text-align: center;
    }
    .foot_text-left p{
        max-width: none;
        text-align: center;
    }
    .foot_numb-left{
        flex-direction: column;  
    }
    .footer_right{
        flex-direction: column;
        text-align: center;
    }
    .foot_numb-right{
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width:933px){
    .services_top h2{
        background: none;
    }
    .services{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width:850px){
    .form_text{
        padding: 40px 60px;
    }
}
@media (max-width:820px){
    .main_gallery{
        flex-direction: column;
    }
    .gallery_wrap{
        margin: 10px auto;
        width: 75%;

    }
    .services_gallery{
        width: 47%;
        margin-left:  auto;
        margin-right: auto;
    }
}
@media (max-width:789px){
    .top_text{
        padding: 30px 15px;
    }
    .container{
        padding: 0 15px;
    }
    .top_content{
        min-height: 226px;
    }
    .top_text-wrap{
        margin-top: 50px;
    }
    
}
@media (max-width:733px){
    .top_text{
        padding: 15px 15px;
    }
    .top_content {
        min-height: 185px;
    }
}
@media (max-width:595px){
    .main{
        margin-bottom: 25px;
    }
    .main_gallery{
        margin-top: 20px;
    }
    .gallery_wrap img{
        margin-bottom: 10px;
    }
    .services{
        padding-top:25px;
    }
    .services_text{
        padding: 10px;
    }
    .services_wrap{
        flex-direction: column;
    }
    .services_gallery {
        width: 80%;
    }
    .vacancy_parent{
        flex-direction: column;
    }
    .vacancy{
        width: 90%;
        margin: 15px auto;
    }
    .comments_left h2{
        margin:0 auto 15px auto;
    }
    .comments_comments-parent{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .comments_comments {
        width: 90%;
        margin:5px auto;
    }
    .comments_left {
        padding-top: 50px;
    }
    .comments_right {
        padding: 35px 10px 0 10px;
    }

}
@media (max-width:564px){
    .form_text {
        padding: 30px 30px;
    }
    .form_text h1{
        font-size:2rem; 
        margin-bottom: 10px;
    }
    .form_text p{
        font-size: 1rem;
        line-height: 35px;
    }
    .form_text p strong{
        font-size: 30px;
    }
    .form_text p span{
        font-size: 30px;
        font-weight: 600;
    } 
}
@media (max-width:505px){
    .form_form {
        width: 95%;
    }
    .form_p6{
        line-height: 1.25;
    }
}
@media (max-width:458px){
    .top_content {
        min-height: 160px;
    }
    .services_gallery{
        width: 100%;
    }
    .vacancy{
        width: 100%;
        margin: 15px auto;
    }
    .comments_comments {
        width: 100%;
        margin:5px auto;
    }
}
@media (max-width:420px){
    .form_form{
        padding: 20px;
    }
    .form_text {
        padding: 20px 10px;
    }
}
@media (max-width:368px){
    .top_text{
        padding:10px;
    }
    .main_gallery {
        margin-top: 0px;
    }
    .gallery_wrap p {
        margin-bottom: 0px;
    }
    .gallery_wrap img {
        margin-bottom: 0px;
    }
    
}
